html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 3rem;
}

.bio-textarea,
.reveiw-textarea {
  resize: none;
}

.leaflet-container {
  width: 7100;
  height: 50vh;
}

.profile-image {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.thumbnail-profile-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  object-position: 100% 0
}
.gallery-photo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  object-position: 100% 0
}

.carousel-image {
  height: 700px;
  width: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
.card-img-top {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  object-position: 50% 0;
}

.reviews-section {
  overflow-y: scroll;
  height: 25vh;
  overflow-x: hidden;
}

.icon-image {
  width: 30rem;
  height: auto;
  display: block;
  margin: 0;
}

.landing-page-image {
  /* background-image: url("./assets/landingimage.jpg"); */
  background-image: url("./assets/landingimage2.jpg");
  background-size: cover;
  background-position: center-center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin-top: -3rem;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%);
  color: white;
}
